html, body {
	margin: 0px;
	padding: 0px;
}

#header {
	margin: 0px;
	background-color: #bccce5;
}

#header h1 {
	margin-top: 0px;
}

#nav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#nav ul li {
	dipslay: inline;
}
