html, body {
	margin: 0px;
	padding: 0px;
}

#header {
	margin: 0px;
	background-color: #bccce5;
}

#logo {
	float: left;
}

#logo h1 {
	margin-top: 0px;

}

#nav {
	float: right;
}

#nav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#nav ul li {
	display: inline-block;
}
